body {
    text-align: left;
    width: 670px;
    height: 235px;
    background-color: darkkhaki;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 470px;
    grid-template-rows: 1fr 1fr 1fr;

}

.tiny-text {
    font-size: xx-small;
}

h6 {
    margin: 0px;
}

section {
    display: grid;
    grid-template-columns: 3em 3em 3em 3em;
    font-size: x-small;
}

div {
    background-color: white;
    grid-column: 2/3;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;

    grid-row: 1/3;
}

img {

    grid-column: 1/2;
    height: 235px;
    width: 200px;
    grid-row: 1/3;
}
